@model IEnumerable<Infra.Entidades.ObjML.Categorias>

@{
    ViewBag.Title = "Lista de Categorias";
}


<div class="container">
    <div class="row">


        <h2>Lista de Categorias do Mercadolivre</h2>

        <p>
            @Html.ActionLink("Adicionar nova Categoria", "Create", null, new { @class="btn btn-default btn-sm" })
        </p>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th colspan="3" class="text-center">Ação</th>
            </tr>

            @foreach(var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td colspan="3" class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class="btn btn-default btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class="btn btn-default btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class="btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
