@model Repositorio.Entidades.Expert

@{
    ViewBag.Title = "APIML | Tools";
}

<h3>APIML | Tools - Experts Detalhes</h3>

<div>
    @*<h4>Expert</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datacadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datacadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraConsultoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraConsultoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
